# Test Documentation

Not much to see here yet, just W2 coverage.

```
poetry run pytest tests
poetry run coverage run -m pytest tests
poetry run coverage report
poetry run coverage html
```

![](/static/Screenshot%202026-03-20%20074520.png)